<div class="container">
  <main>
    <div class="py-5 text-center">
      <img
        class="d-block mx-auto mb-4"
        src="../../../favicon.ico"
        alt="icon actores"
      />
      <h2>Actores</h2>
      <p class="lead">Simulacro de parcial número 2</p>

      <div class="d-flex justify-content-center" *ngIf="!listaActores">
        <div class="spinner-border" role="status"></div>
      </div>

      <table class="table table-striped" *ngIf="listaActores && tablaCabecera">
        <thead>
          <tr>
            <th *ngFor="let nombreCabecera of tablaCabecera">
              {{ nombreCabecera }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actor of listaActores">
            <td>{{ actor.apellido }}</td>
            <td>{{ actor.countryName }}</td>
            <td>{{ actor.edad }}</td>
            <td>{{ actor.email }}</td>
            <td>
              <img [src]="actor.flagImage" alt="country image" width="30" />
            </td>
            <td>{{ actor.nombre }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <app-tabla-paises
          (eventPaisSeleccionado)="cargarPaisSeleccionado($event)"
        ></app-tabla-paises>
      </div>
      <div class="col-md-7 col-lg-8">
        <app-form-actor [paisSeleccionado]="paisSeleccionado"></app-form-actor>
      </div>
    </div>
  </main>
</div>
